.todoContainer {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}

.todoForm {
  width: 25rem;
  padding: 0.5rem;
  border-style: solid;
  border-width: 2px;
  border-radius: 4px;
  border-color: #707070;
}

.todoForm label,
.todoForm input {
  display: block;
}

.todoForm label {
  margin-bottom: 0.25rem;
  font-weight: 600;
}

.todoForm input {
  font-family: Inter, sans-serif;
  font-weight: 600;
  width: 80%;
  color: #333;
  background-color: #ebebeb;
  border: 2px solid #707070;
  border-radius: 4px;
  padding: 0.5rem;
}

.todoForm input:hover,
.todoForm input:focus {
  outline: none;
  border-color: #0041c2;
}

.todoForm button {
  font-family: Inter, sans-serif;
  margin-top: 1rem;
  background-color: #0041c2;
  color: white;
  border: 1px solid #240370;
  padding: 0.4rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}

.todoList {
  width: 25rem;
}

.todoList p {
  font-weight: 600;

  border-style: solid;
  border-radius: 4px;
  border-width: 2px;
  border-color: #707070;
  padding: 0.5rem;
  margin: 0.1rem 0rem;
}

.todoList p:hover {
  border-color: #0041c2;
  cursor: default;
}
